
section {
    width: 60%;
    height: 70%;
    margin: 10px auto;
    padding: 10px;
    background-color:beige;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #0077b6;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    margin-top:20px;
}


.image-container {
    display: flex;
    justify-content: center;
    gap: 50px; 
    flex-wrap: wrap; 
}

.content-img {
    width: 400px; 
    height: 250px; 
    border-radius: 5px;
}
