
section {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    background-color: beige;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#p{
    margin-top: -20px;
}

h2 {
    color: #0077b6;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}


.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.content-img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

