
.icon{
    height: 70px;
    width: 70px;
}

.fieldset1 legend{
    display: flex;
    align-items: center;
    font-size:30px;
    font-weight: bold;
}

.fieldset2 legend{
    display: flex;
    align-items: center;
    font-size:30px;
    font-weight: bold;
}

#fullname,
#email,
#phonenumber,
#address,
select {
font-family:Arial, sans-serif;
width: 70%;
padding: 8px;
font-size: 16px;
border-width: 3px;
}

input[type="date"],
select{
width: 20%;
padding: 10px;
font-size: 16px;
margin-left: 10px;
border-width: 3px;

}

.select{
    margin-top: 10px;
    width:30%;
}

.features{
    width: 30%;
}


.counter {
font-size: 14px;
color: black;
}

.rating {
display: flex;
gap: 10px;
margin: 10px 0;
justify-content: center;
}

.emoji {
font-size: 30px;
cursor: pointer;
transition: transform 0.2s ease-in-out;
}

.emoji:hover {
transform: scale(1.3);
}

.button {
margin-left:70px;
margin-top: 50px;
padding: 20px;
width: 90%;
background:blue;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
}

legend{
font-size: 30px;
}

.fieldset1{
background-image: url("istockphoto-1335504491-612x612.jpg");
background-size: cover;
width:80%;
margin-top:20px;
margin-left:120px;
text-align: center;
font-size:22px;
border-radius:20px;
border: 4px solid black;
padding: 20px;
}

.fieldset2 {
background-image: url("istockphoto-1335504491-612x612.jpg");
background-size: cover;
width: 50%;
margin-left:400px;
display: block;
border: 4px solid black;
padding:20px;
font-size: 22px;
border-radius:20px;
}

textarea{
border-width: 3px;
}

.error-message {
color: red;
font-size: 13px;
}

