
.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main {
    flex: 3;
}
aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    margin-right: 20px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}


.ref li{
    list-style: none;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}

.st{
    text-align: center;
    line-height: 0;
    background-color: #cbccc2ef;
    color: rgb(0, 0, 0);
    margin-top: 8px;
}

     


img{
    width: 90%;
}

