* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('../Images/splash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.splash {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.8;
    animation: fadeIn 2s ease-in-out;
    transition: opacity 1s ease-in-out;
}


.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.counter {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

h1 {
    font-size: 60px;
    color: darkblue;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.p {
    font-size: 19px;
    color: black;
    font-weight: bold;
}

.p2 {
    font-size: 20px;
    color: azure;
    margin-top: 20px;
}


.group-list {
    list-style: disc; 
    padding: 0;
    margin-top: 10px;
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.group-list li {
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
}


.group-list li::marker {
    font-size: 18px;
    color: black;
}

button{
    height:30px;
    width: 100px;
    background-color: rgb(173, 173, 197);
}

