
table,td,th {
    border: 1px solid black;
    padding: 10px;
}

.table1 {
    width: 80%;
    margin: 20px auto; 
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0px 8px 30px rgba(241, 4, 4, 0.2); 
    border-radius: 8px; 
    overflow: hidden;
}


th {
        background-color: #0096c7;
        color: white;
        font-weight: bold;
        width:fit-content;
}

.country{
    width:300px;
}
    
tr:nth-of-type(odd) {
        background-color: #f0f0f0;
}
    
tr:hover {
        background-color: #caf0f8;
        transition: 0.3s;
}
    
.thumbnail {
        width:30px; 
        height:30px; 
        vertical-align: middle;
        margin-right:8px;
}
    
h1{
    font-size: 50px;
    text-decoration: underline;
 }

.logo{
    height: 250px;  
    width: 250px;
    display: block;   
    margin-top: -20px; 
    margin-bottom: -20px; 
    margin-left: auto;
    margin-right: auto; 
}


 img{
    height:50px;
    width: 50px;
 }

 .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.tooltip .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}


.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
 
 