h1 {
    font-size: 50px;
    text-decoration: underline;
}

.volunteer-section, .reviews-section, .feedback-form {
    padding: 20px;
}

.scrollable-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}


.filter-dropdown {
    display: block;
    margin-bottom: 10px;
}

.review-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-card {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}


.volunteer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.volunteer-table th, .volunteer-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.volunteer-table th {
    background-color: lightblue;
    font-weight: bold;
}


.feedback-form textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.rating-input {
    margin-bottom: 10px;
    font-size: 30px;
}


.submit, .cancel {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.submit {
    background: blue;
    color: white;
}

.cancel {
    background: grey;
    color: white;
}


.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button:hover {
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    transform: scale(1.1);
}